body {
    background-color: #ffffff;
    }
.signup-container {
    max-width: 400px;
    margin: auto;
    padding:30px;
    background-color: #ffffff;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    animation: slideIn 0.5s ease;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.signup{
    background-color: #0e7892;
    color:#f8f9fa;
}
.password-info{
    font-size:10px;
}
.head{
    color:#0e7892
}
.logo{
    align-items: center;
}